<ion-content *ngIf="isMobileResolution">
    <ion-header>
      <ion-toolbar>
        <ion-title>Add New User</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onClose()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <p *ngFor="let user of userDetailModal">
        {{ user.id  }}
        {{ user.first_name  }}
        {{ user.middle_name  }}
    </p>
    <app-user-form [userDetail]="userDetail"></app-user-form>
</ion-content>

<ion-content *ngIf="!isMobileResolution">
    <ion-header>
        <ion-toolbar>
            <ion-title>Add New User</ion-title>
            <ion-header-bar no-tap-scroll="true" class="bar-positive"></ion-header-bar>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-md="7">
                <p *ngFor="let user of userDetail">
                    {{ user.id  }}
                    {{ user.first_name  }}
                    {{ user.middle_name  }}
                </p>
               
                <app-user-form [userDetail]="userDetail"></app-user-form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>