<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="6" size-sm="12">
                <ion-card-header>
                    <ion-card-title>
                        Product Details
                    </ion-card-title>
                    <ion-card-subtitle>
                        Enter product details
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <app-form></app-form>
                    <!-- <form class="container" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                      <ion-item>
                          <ion-label>
                              Code <ion-text color="danger">*</ion-text>
                          </ion-label>
                          <ion-input type="text" formControlName="code" clearInput></ion-input>
                      </ion-item>
                  
                      <ion-item>
                          <ion-label>
                              Name <ion-text color="danger">*</ion-text>
                          </ion-label>
                          <ion-input type="text" formControlName="name" clearInput></ion-input>
                      </ion-item>
                      <ion-button type="submit" expand="full" >Add Product</ion-button>
                  </form> -->
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-header>
  <ion-toolbar color="default" >
      <div class="item item-divider item-assertive ion-padding bgheader ion-text-center" style="white-space: normal;">
        Add Me
      </div>
  </ion-toolbar>
</ion-header> -->