<form [formGroup]="userForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <ion-card>
        <ion-grid>
            <ion-item-group>
                <ion-item-divider color="medium">
                  <ion-label>
                      Image
                  </ion-label>
                </ion-item-divider>
                <ion-row>
                    <ion-col size="12" size-md="2" class="ion-text-right">
                        <ion-img [src]="croppedImage" style="width: 100%;"></ion-img>
                    </ion-col>
                    <ion-col size="12" size-md="10" class="ion-text-center ion-text-md-start">
                        <ion-label style="margin-top: 10px;">
                            <h3>Upload User Photo</h3>
                            <p
                              style="text-decoration: underline;"
                              (click)="fileInput.click()"
                            >
                                Click here to upload
                            </p>
                        </ion-label>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-item-group>
            <ion-item-divider color="medium">
                <ion-label>
                    Personal Information
                </ion-label>
            </ion-item-divider>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
                <ion-row>
                    <ion-col size="12" size-md="6">
                        <ion-item>
                            <ion-label position="floating">
                                User ID <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input type="text" formControlName="userId"></ion-input>
                        </ion-item>
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('userId').valid && userForm.get('userId').touched">
                            <ion-text color="danger" 
                                *ngIf="userForm.get('userId').errors['required']"
                            >Required!</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-md="3">
                        <ion-item>
                                <ion-label position="floating">
                                    First Name <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input type="text" formControlName="firstName"></ion-input>
                        </ion-item>
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">
                            <ion-text color="danger" 
                                *ngIf="isFirstNameEmpty"
                            >Required!</ion-text>
                            <ion-text color="danger" 
                                *ngIf="isFirstNameHasInvalidInput"
                            >invalid Input!</ion-text>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="3">
                        <ion-item>
                              <ion-label position="floating">
                                  Midle Name <ion-text color="danger">*</ion-text>
                              </ion-label>
                              <ion-input type="text" formControlName="middleName"></ion-input>
                        </ion-item>
                        <!-- <div class="ion-text-center" 
                            *ngIf="!userForm.get('middleName').valid && userForm.get('middleName').touched">
                            <ion-text color="danger" 
                                *ngIf="userForm.get('middleName').errors['required']"
                            >Required!</ion-text>
                            <ion-text color="danger" 
                                *ngIf="userForm.get('middleName').errors['minLength']"
                            >Too Short!</ion-text>
                        </div> -->
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('middleName').valid && userForm.get('middleName').touched">
                            <ion-text color="danger" 
                                *ngIf="isMiddleNameEmpty"
                            >Required!</ion-text>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="3">
                        <ion-item>
                              <ion-label position="floating">
                                  Last Name <ion-text color="danger">*</ion-text>
                              </ion-label>
                              <ion-input type="text" formControlName="lastName"></ion-input>
                        </ion-item>
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">
                            <ion-text color="danger" 
                                *ngIf="isLastNameEmpty"
                            >Required!</ion-text>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="3">
                        <ion-item>
                            <ion-label position="floating">
                                Extension Name <ion-text color="danger">Optional</ion-text>
                            </ion-label>
                            <ion-input type="text" formControlName="extensionName"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-md="4">
                        <ion-item>
                            <ion-label position="floating">
                                Address <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input type="text" formControlName="address"></ion-input>
                        </ion-item>
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('address').valid && userForm.get('address').touched">
                            <ion-text color="danger" 
                                *ngIf="isAddressEmpty"
                            >Required!</ion-text>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="4">
                        <ion-item>
                              <ion-label position="floating">
                                  Email Address <ion-text color="danger">*</ion-text>
                              </ion-label>
                              <ion-input type="email" formControlName="emailAddress"></ion-input>
                        </ion-item>
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('emailAddress').valid && userForm.get('emailAddress').touched">
                            <ion-text color="danger" 
                                *ngIf="isEmaillAddressEmpty"
                            >Required!</ion-text>
                            <ion-text color="danger" 
                                *ngIf="isEmaillAddressInvalid"
                            >Invalid input!</ion-text>
                        </div>
                    </ion-col>
                    <ion-col size="12" size-md="4">
                        <ion-item>
                              <ion-label position="floating">
                                  Contact Number <ion-text color="danger">*</ion-text>
                              </ion-label>
                              <ion-input type="text" formControlName="contactNumber" (keypress)="numberOnly($event)"></ion-input>
                        </ion-item>
                        <!-- <div class="ion-text-center" 
                            *ngIf="!userForm.get('contactNumber').valid && userForm.get('contactNumber').touched">
                            <ion-text color="danger" 
                                *ngIf="isContactNumberEmpty"
                            >Required!</ion-text>
                            <ion-text color="danger" 
                                *ngIf="isContactNumberInvalid"
                            >Invalid input! Numbers only.</ion-text>
                            <ion-text color="danger" 
                                *ngIf="isContactNumberLengthInvalid"
                            >Invalid input! 11 digits only.</ion-text>
                        </div> -->
                        <div class="ion-text-center" 
                            *ngIf="!userForm.get('contactNumber').valid && userForm.get('contactNumber').touched">
                            <ion-text color="danger" 
                                *ngIf="userForm.get('contactNumber').errors['required']"
                            >Required!</ion-text>
                            <ion-text color="danger" 
                                *ngIf="userForm.get('contactNumber').errors['pattern'] || (userForm.get('contactNumber').errors['minlength'] || userForm.get('contactNumber').errors['maxlength'])"
                            >Invalid input! It must be numbers with 11 digits.</ion-text>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col size-md="2" no-padding>
                        <ion-button expand="block" margin size="medium" color="danger">
                            <ion-icon slot="start" name="warning-outline" class="iconSize"></ion-icon>
                            Cancel
                        </ion-button>
                    </ion-col>

                    <ion-col  size-md="2">
                        <ion-button 
                            expand="block" 
                            margin size="medium" 
                            type="submit" 
                            [disabled]="isSavingUserDetails"
                        >
                            <ion-icon slot="start" name="save-outline" class="iconSize"></ion-icon>
                            Save
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-grid>
    </ion-card>
</form>

